/*
Name:       actionbar.SCSS
Author:     Tristan Marsh
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:    Styling specific to actionbar
Since:      23/10/15
*/


.panel-actionbar {

  .nav-pills {

    li a {

      transition:$standard-transition;

      &:hover {
        background:$green;
        // color:#fff;
      }

    }

    li .glyphicon-plus {
      position:absolute;
      left:0.3em;
      top:-0.18em;
      font-size:3rem;

    }

    li .glyphicon-plus + span {
      padding-left:1em; 
    }

  }


}