/*
Name:       actionbar.SCSS
Author:     Tristan Marsh
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:    Styling specific to actionbar
Since:      23/10/15
*/


.panel-actionbar {

  .search {
    
    width: 100%;
    padding:6px 0;
    position:absolute;
    

    input[type="text"].form-control {
      display: block;
      top:0;
      height: 100%;
      width: 100%;
      font-size:2rem;
      border-radius: 5px;
    }

    .input-group-btn {
      opacity: 0;
      visibility:none;
    }

  }

  .button,
  .button>label {

    color:#fff;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    transition:$standard-transition;

    &:hover {
      text-decoration: none;
    }

  }

  .button.active {
    color:#fff;
  }

}