/*
Name:   Custom.SCSS
Author:   Team Dash
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  All custom styling for the Monish Dashboard
Note:     Remeber mobile first methodology when styling
Since:    29/4/15

*/

@import 'variables.scss';
@import 'sm.scss';
@import 'override.scss';
@import 'footer.scss';
@import 'sidebar.scss';
@import 'tables.scss';

body {
  background: #C4E7EC;
  background: #fff;
  background: rgb(236,242,246);
  font-family:$open-sans-font-stack;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

// #### GLOBAL ####

a {color:#76AADB;}


/* #### NAVBAR #### */


.navbar {
  background:#fff;
}




// #### HEADER ####
header {
  height: auto;
  padding: 0;
  background-color: none;
  margin-bottom:40px;


  .page-header {
    margin-top:0;
  }

  .breadcrumb {
    padding: 0px 15px;
    margin-bottom: 0px;
    list-style: none;
    background: none;
    // border-top:1px solid rgba(229, 255, 235, 0);
    // border-bottom:1px solid rgba(229, 255, 235, 0);
    border-radius:0;
    background:rgba(118, 170, 219,0.5);

    a {
      font-size:12px;
      font-weight:lighter;
      color:#fff;
    }
    
    //uneccessary cakePHP generated list
    ul {
      display:none;
    }

  }

}

.navbar-image img {
  max-width: 100%;
  height: 40px!important;
}

.breadcrumb {
  // display:none;
  margin-left:0;
}

// #### NAVBAR ####

.navbar {
  // position:static;
  margin-bottom:0;

  .navbar-brand {
    padding:5px;
  }
}


// #### HEADER ####

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:$roboto-slab-font-stack;
}

// #### CONTENT ####

// holds the main view of the dashboard
.main-content {
  min-height:100vh;
  margin-bottom:50px; //allow for footer

  .header {}

  .content {
  }

}




// #### CONTENT ####


// #### CONTENT ####


