/*
Name:   datatables.SCSS
Author:   Tristan Marsh
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  Style applying specifically to our datatables components
Since:    15/8/15
*/

.dataTables_wrapper {


  .dataTables_filter {
    display: none;
  }

  .dataTables_length {
    display: none;
  }

  .dataTables > thead > tr > th {
    padding-left:10px;
  }

// Table Header
  & thead th {
  
    &:focus,
    &:hover {
      background: lighten($primarycolour,5%);
      color:$white;
      text-decoration: none;
    }

    // Preview Hidden
    &:after {
     content:'\25B2';
      position:absolute;
      float:right;
      right:1em;
      font-size: 0.8em;
      opacity:0;
    }
    
    // Actively Sorting State
    &:active,
    &[class^='sorting_'] {
      background: darken($primarycolour,5%);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    }

  }

  
  /* #### DataTable Rows #### */
  tr {
    cursor: pointer;
    *cursor: hand;
  }


  // Showing x to y of z results
  .dataTables_info {
    display: block;
    position: static;
    float:left;
    line-height:32px;
    padding-left: 10px;
    vertical-align: middle;
    color:$lightthemetext;
  }

  /* #### Pagination #### */

  .dataTables_paginate {
    position:relative;
    display: block;
    float:right;
    padding-top:7px;

    .paginate_button {
      box-sizing:border-box;
      padding: 6px 12px;
      line-height: 1.42857143;
      text-decoration: none;
      color: $lightthemetext;
      background: $primarycolour;
      margin-left: -1px; 
      // border: 1px solid $lightprimarycolour;
      border-right:0;
      border-bottom:0;
      cursor:pointer;
      transition:all 100ms ease;
      transition:$standard-transition;

      &.disabled {
        cursor:not-allowed;
      }

      &.disabled:hover {
        background: $primarycolour;
      }

      &:hover {
        background: lighten($darkprimarycolour,20%);
      }

      //Current Page
      &.current,
      &.current>span,
      &.current:hover,
      &.current>span:hover,
      &.current:focus,
      &.current>span:focus {
        z-index: 2;
        background: darken($primarycolour,5%);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
        border-color: $lightprimarycolour;
        cursor: default;
      }

      &:first-child {
        // border-bottom-left-radius: 4px;
        // border-top-left-radius: 4px;
      }

      &:last-child {
          // border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
      }

    }
    
    // Remove border radius on span (numerical) buttons
    &>span>.paginate_button:first-child,
    &>span>.paginate_button:last-child {
      border-radius:0;
    }

  }
  
  // Little bit of space when no results found
  .dataTables_empty {
    padding:20px;
  }

  // Datatables Additions
  table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
  table.dataTable thead > tr > td.sorting_asc,
  table.dataTable thead > tr > td.sorting_desc,
  table.dataTable thead > tr > td.sorting {
    padding-right: 30px;
  }
    
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
  }
  table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\e150";
    /* sort */
  }
  table.dataTable thead .sorting_asc:after {
    content: "\e155";
    /* sort-by-attributes */
  }
  table.dataTable thead .sorting_desc:after {
    content: "\e156";
    /* sort-by-attributes-alt */
  }
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:after {
    color: $lightprimarycolour;
  }

  div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important;
  }

  div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  div.dataTables_scrollBody table thead .sorting:after,
  div.dataTables_scrollBody table thead .sorting_asc:after,
  div.dataTables_scrollBody table thead .sorting_desc:after {
    display: none;
  }
  div.dataTables_scrollBody table tbody tr:first-child th,
  div.dataTables_scrollBody table tbody tr:first-child td {
    border-top: none;
  }


}
