/*
Name:   tables.SCSS
Author:   Team Dash
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  All custom styling for tables
Since:    15/8/15
*/

#requests_filter {
  display: none;
}

#requests_length {
  display: none;
}

.dataTables_length {
  display: none;
}

#requests_info {
  position: fixed;
  padding-top: 10px;
  padding-left: 10px;
}

#requests > thead > tr > th {
  padding-left:10px;
}

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: center;
  padding-bottom: 0.25em;
  padding-right: 16px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}

// start sorting
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  cursor: pointer;
  *cursor: hand;
}