@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?hi5vxy');
	src:url('../fonts/icomoon.eot?#iefixhi5vxy') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?hi5vxy') format('truetype'),
		url('../fonts/icomoon.woff?hi5vxy') format('woff'),
		url('../fonts/icomoon.svg?hi5vxy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-monish:before {
	content: "\e600";
}
