/*
Name:   footer.scss
Author:   Team Dash
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  All custom styling for the Monish Dashboard Footer
Since:    28/5/15

*/

.footer-container {
  transition: all 400ms ease;

  footer {
    max-width:100%;
    position:static;
    bottom:0;
    left:0;
    width:100%;
    background:rgba(118, 170, 219, 0.5);
    padding:40px 0;
    color:#fff;
    font-size:1.4rem;
    transition:all 400ms ease;
    overflow-x: hidden;

    h3 {
      margin-top:0;
    }

    a {
      color:#fff;
      transition:all 400ms ease;
    }

    .col-md-3 {
      padding: 20px;
    }

    .credits {
      font-size:1.2rem;
      
      &,
      & a {
        color:#ECEDFA;
      }

    }

    &:hover>.credits,
    &:hover>.credits a {
      color:#fff;
    }



    .col-md-4:nth-of-type(1)>* {
      // text-align:left;
    }

    .col-md-4:nth-of-type(2)>* {
      // text-align: center;
    }

    .col-md-4:nth-of-type(3)>* {
      // text-align: right;
    }

  }

}

@media (max-width: 991px) {
  .footer-container footer .col-md-4:nth-of-type(1n) {
    text-align: center;
  }
}
