/*
Name:   Global.SCSS
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  Global styling for the Monish Dashboard
Since:    31/7/15

*/



body {
  font-family:$open-sans-font-stack;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color:darken(desaturate($darkprimarycolour,30%),20%);
  background:mix($white, $primarycolour, 45%);
}

// #### UTILITY ####

.logo{
  margin-top:3vw;
}

.img-center {
  display: block;
  margin:0 auto;
}


// #### GLOBAL ####

a {
  color:$darkthemetext;
}


/* #### NAVBAR #### */
.navbar {
  // background:$white;
  background:mix($white,$primarycolour,50%);
  border-bottom:0;
  margin-bottom:0;

  .navbar-header {
    display: block;
    width: 100%;
  }

  .navbar-brand {
    display: block;
    width:100%;
    padding:0;

    h2 {
      display:block;
      color:$darkprimarycolour;
      margin:0;
      padding:15px;
      text-align: center;
      font-family:$roboto-slab-font-stack;
      font-family:$open-sans-font-stack;
      margin-left:60px;
    }

  }

  .nav>li>a {
    position: relative;
    display: block;
    padding: 5px;
  }

}

// #### HEADER ####
header {
  height: 79px;
  padding: 0;
  overflow: hidden;

  .page-header {
    margin-top:0;
  }

  // #### NAVBAR TOGGLE BUTTON ####
  // .navbar-toggle {
  //   display: block;
  //   position: relative;
  //   float: left;
  //   padding-left: 15px;
  //   padding: 9px 10px;
  //   margin-top: 8px;
  //   margin-bottom: 8px;
  //   background-color: transparent;
  //   background-image: none;
  //   border: 1px solid transparent;
  //   border-radius: 4px;
  //   left: 10px;
  //   height:59x
  // }

  // @media (min-width: 768px) {
  //   .navbar-toggle {
  //     display: block;
  //     position: relative;
  //     float: left;
  //     padding-left: 15px;
  //     padding: 9px 10px;
  //     margin-top: 8px;
  //     margin-bottom: 8px;
  //     background-color: transparent;
  //     background-image: none;
  //     border: 1px solid transparent;
  //     border-radius: 4px;
  //     left: 10px;
  //   }

  //   .navbar>.container .navbar-brand,
  //   .navbar>.container-fluid .navbar-brand {
  //       margin-left: 10px;
  //   }

  #home-logo {
    
    display: none;

    @media(max-width:480px) {

      display:block;
      position:absolute;
      left:0;
      color:$primarycolour!important;
      transition:color 200ms ease-out, background 200ms ease-out;

      span.icon-monish {
        font-size:4rem;
        height:100%;
      }

      background:rgba($lightprimarycolour,0.5);
      background:mix($white,$primarycolour,50%);
      font-size:3rem;
      line-height:3rem;
      padding:10px;
      height: 59px;
      width: 59px;
      border-right:1px solid mix($white,$primarycolour,40%);
    }

  }



  #navigation-toggle {
    background:rgba($lightprimarycolour,0.5);
    background:mix($white,$primarycolour,50%);
    position:absolute;
    left:0;
    font-size:3rem;
    line-height:3rem;
    padding:5px 10px;
    height: 59px;
    width: 59px;
    border-right:1px solid mix($white,$primarycolour,40%);
    
    &:hover {
      background:mix($white,$primarycolour,60%);
      color:mix($white,$primarycolour,0%);
    }

    @media(max-width:480px) {
      left:auto;
      right:0;
      border-left:1px solid mix($white,$primarycolour,40%);
      border-right:0;
    }
  }


  .breadcrumb {
    position:absolute;
    top: 59px;
    left:0;
    width:100%;
    padding: 0;
    margin-left:0;
    margin-bottom:0;
    padding: 0px 30px;
    list-style: none;
    background: none;
    border-radius:0;
    background: $darkprimarycolour;
    color:$white;

    a {
      display:inline-block;
      font-size:1.4rem;
      font-weight:lighter;
      color:$white;
      transition:all 400ms ease;
      background: none;
    }

    a.active:hover,
    a:hover {
      text-decoration: none;
      background:mix($white,$primarycolour,15%);
      color:$darkprimarycolour;
    }

    a.active {
      color:$white;
    }
    
    //uneccessary cakePHP generated list
    ul {
      display:none;
    }

  }

  .navbar-image img {
    max-width: 100%;
    height: 40px!important;
  }


}


.navigation-active #navigation-toggle,
.navigation-active #navigation-toggle:hover {
  background:mix(#000,$primarycolour,5%);
  color:$mutedsidebarcolour;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

// #### HEADER ####

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:$roboto-slab-font-stack;
  color:$darkprimarycolour;
}

// #### CONTENT ####

.alert {
  margin-top:20px;
  border-width:0;
  color:$white;
  @include fadeInUp($duration:400ms);

  .close {
    top:-4px;
    font-size:3rem;
    color:$white;
    opacity:0.5;
  }

}

.alert-success {
  background-color:$green;
}

.alert-danger  {
  background-color:$red;
}

.alert-info  {
  background-color:$darkprimarycolour;
}

.alert-alternative-info  {
  background-color:#7b72e9;

  a {color:$lightthemetext; }
}

.panel {

  box-shadow: 0 3px $lightprimarycolour;
  border-radius:5px;
  margin-bottom:20px;

  .panel-footer {
    display:block;
    padding:1.1em;
    color:$lightthemetext;
    height:100%;
    background-color:mix($white, $primarycolour, 40%);
    border-top: 1px solid $lightprimarycolour;
  }

  .nav {padding:10px 0;}

  .nav-pills>li>a {
    border-radius:100px;
    padding:5px 15px;
    font-weight: 900;
    font-size: 1.6rem;
  }


} 

.panel-primary {

  @include fadeInUp($duration:400ms);


  & h1 {
    color:$white;
    font-size:5rem;
    margin:0;
  }

  &>.panel-heading {
    color: #fff;
    background-color: $darkprimarycolour;
    border-color: $darkprimarycolour;
  }


}


// #### DASHBOARD #### 
.panel-primary.panel-30-day {

  h1 {
    color:$red;
  }

  table thead th {
    background:lighten($red,5%);
  }

}

.panel-primary.panel-90-day {

  h1 {
    color:$orange;
  }

  table thead th {
    background:lighten($orange,5%);
  }

}

.panel-primary.panel-180-day {

  h1 {
    color:$green;
  }

  table thead th {
    background: lighten($green, 5%);
  }

}

// holds the main view of the dashboard

.main-content {
  position: relative;
  overflow-x: hidden; //prevents scrollable panels when mobile nav visible
  overflow-y: scrollable; 
  background: $whiteprimarycolour;
  // background: $whiteprimarycolour url(http://www.bing.com/az/hprichbg/rb/SunbloodMountain_EN-US11233736221_1920x1080.jpg);
  transition: all 400ms ease-out;
  // background-size:cover;

  .content {
    margin-top:70px;
    min-height:70vh;
    margin-bottom:20px;
  }

  .header {}

  .panel-default,
  .panel-primary {
    border-color:$lightprimarycolour;
  }

  .paginator {
    margin-bottom:60px;
    
    .pagination {
      box-shadow: 0 3px $lightprimarycolour;
      border-radius:5px;
      // border-left:1px solid $lightprimarycolour;
      // border-right:1px solid $lightprimarycolour;
      border:1px solid $lightprimarycolour;
      
      li a {
        border-right:1px solid $lightprimarycolour;
        border:0;
      }

      li a:last-child {
        border-right:0;
      }

      li:last-child>a {
        // border-left:1px solid $lightprimarycolour;
      }

    }

  }

}


// #### LOGIN ####

.log-in-window {

  margin-top:5vw;

  label {
    color:mix(#000, $primarycolour, 50%);;
    font-weight: 100;
  }

  input.form-control {
    border-color:$lightprimarycolour;
    height:50px;
    font-size:1.5em;
  }

  .input-group-addon {
    border-color:$lightprimarycolour;
    background:$lightprimarycolour;
    padding:0.5em 1em;

    .glyphicon {
      color:desaturate($darkprimarycolour,20%);
      font-size:1.5em;
    }

  }

}

// #### PROPERTIES ####

.panel-property {
  
  .panel-heading {
    padding:0;
    overflow:hidden;
    background-color: $lightprimarycolour;
    border-color: $darkprimarycolour;

    .property-image {
      transition:transform 2s ease-out;
      height:50vh;

      & a {
        display: block;
        height:100%;

        &:hover,
        &:focus {
          text-decoration: none;
        }

        & .panel-title {
          display: block;
          padding:2rem;
          transition:transform 2s ease;
          background-color: rgba(0,0,0,0.5);
          background-color: rgba(darken(desaturate($primarycolour,30%),50%),0.5);
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          font-size:2rem;
          color: $lightprimarycolour;
        }
      }
      &:hover {

      }
    }
  }

  .gravatar {
    display:inline-block;
    z-index:0;
  }


}

// #### FOOTER ####
footer {
  overflow:hidden;
}
