/*
Name:   Global.SCSS
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  Global styling for the Monish Dashboard
Since:    31/7/15

*/

body {
  font-family:$open-sans-font-stack;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background:rgb(178,207,233);
}

// Prevents Overscrolling
// html, body {
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
// }

// body > div {
//     height: 100%;
//     overflow: scroll;
//     -webkit-overflow-scrolling: touch;
// }

// #### UTILITY ####

.logo{
  margin-top:2vw;
}

.log-in-window {

  margin-top:20px;


  label {
    color:#70808e;
  }

  input {
    // border-color:#eee;
  }


  .input-group-addon {
    // background:#B2CFE9;

    .glyphicon {
      color:#70808e;
    }

  }

}

.img-center {
  display: block;
  margin:0 auto;
}


// .vertical-align:before {
//   content: 'ge';
//   display: inline-block;
//   height: 100%;
//   vertical-align: middle;
//   background: red;
//   width:20px;
//   height:100%;
//   margin-right: -0.25em; /* Adjusts for spacing */
// }

// .vertical-align .panel {
//   display: inline-block;
//   vertical-align: middle;
//   width: 300px;
// }


// #### GLOBAL ####

a {color:#618DB6;}


/* #### NAVBAR #### */
.navbar {
  background:#fff;
  border-bottom:0;
  margin-bottom:0;

  .navbar-brand {
    padding:5px;
  }

  .nav>li>a {
    position: relative;
    display: block;
    padding: 5px;
  }

}

.gravatar {
  background-color:#212D38;
}

// #### HEADER ####
header {
  height: auto;
  padding: 0;

  .page-header {
    margin-top:0;
  }

  .breadcrumb {
    margin-left:0;
    margin-bottom:0;
    padding: 0px 30px;
    list-style: none;
    background: none;
    border-radius:0;
    background:rgba(118, 170, 219,0.8);
    background: #337ab7;
    color:#fff;

    a {
      display:inline-block;
      font-size:1.4rem;
      font-weight:lighter;
      color:#fff;
      transition:all 400ms ease;
      background: none;
    }

    a.active:hover,
    a:hover {
      text-decoration: none;
      background:#b2cfe9;
      color:#337ab7;
    }

    a.active {
      color:#fff;
    }
    
    //uneccessary cakePHP generated list
    ul {
      display:none;
    }

  }

}

.navbar-image img {
  max-width: 100%;
  height: 40px!important;
}




// #### HEADER ####

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:$roboto-slab-font-stack;
  color:#5986AD;
}

// #### CONTENT ####

.alert {
  margin-top:20px;
  border-width:0;
  color:#fff;
  @include fadeInUp($duration:400ms);

  .close {
    top:-4px;
    font-size:3rem;
    color:#fff;
    opacity:0.5;
  }

}

.alert-success {
  background-color:#5fcf80;
}


.alert-danger  {
  background-color:#ED5A5A;
}


.alert-info  {
  background-color:#76B5ED;
}

.panel {
  box-shadow: 0 3px rgba(118, 170, 219,0.2);
  box-shadow: 0 3px #D5E4F1;
  border-radius:5px;
  margin-bottom:20px;

  .panel-footer {
    padding:0 15px;
  }

  .nav {padding:10px 0;}

  .nav-pills>li>a {
    border-radius:100px;
    padding:5px 15px;
    font-weight: 900;
    font-size: 1.6rem;
  }


} 

.panel-primary {

  & h1 {
    color:#fff;
    font-size:5rem;
    margin:0;
  }

}

.panel-primary.panel-30-day {

  h1 {
    color:$red;
  }

  table thead th {
    background:lighten($red,5%);
  }

}

.panel-primary.panel-90-day {

  h1 {
    color:$orange;
  }

  table thead th {
    background:lighten($orange,5%);
  }

}

.panel-primary.panel-180-day {

  h1 {
    color:$green;
  }

  table thead th {
    background: lighten($green, 5%);
  }

}


.panel-primary {
  @include fadeInUp($duration:400ms);
}


// holds the main view of the dashboard

.main-content {
  position: relative;
  overflow-x: hidden; //prevents scrollable panels when mobile nav visible
  overflow-y: scrollable; 
  background: rgb(236,242,246);
  transition: all 400ms ease-out;


  &:before {
    // content: "";
    // display: block;
    // width:100vw;
    // height:100vh;
    // background: #bada55;
    // position:absolute;
    // top:-30%;
    // left:0%;
    // z-index:9999;
  }

  .content {
    margin-top:70px;
    min-height:70vh;
    margin-bottom:20px;
  }

  .header {}

  .panel-default,
  .panel-primary {
    border-color:#D5E4F1;
  }

  .paginator {
    margin-bottom:60px;
    
    .pagination {
      box-shadow: 0 3px #D5E4F1;
      border-radius:5px;
      // border-left:1px solid #D5E4F1;
      // border-right:1px solid #D5E4F1;
      border:1px solid #D5E4F1;
      
      li a {
        border-right:1px solid #D5E4F1;
        border:0;
      }

      li a:last-child {
        border-right:0;
      }

      li:last-child>a {
        // border-left:1px solid #D5E4F1;
      }

    }

  }

}

.navbar-toggle {
  display: block;
  position: relative;
  float: left;
  padding-left: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  left: 10px;
}

@media (min-width: 768px) {
  .navbar-toggle {
      display: block;
    position: relative;
    float: left;
    padding-left: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    left: 10px;
  }

  .navbar>.container .navbar-brand,
  .navbar>.container-fluid .navbar-brand {
      margin-left: 10px;
  }

}


// #### HEADER ####


#navigation-toggle {
  background:#337ab7;
  span {
    background:lighten(#337ab7,50%);
  }
}


// #### CONTENT ####

.panel-property {
  

  .panel-heading {
    padding:0;
    overflow:hidden;

    .property-image {
      transition:transform 2s ease-out;
      height:50vh;

      & a {
        display: block;
        height:100%;

        &:hover,
        &:focus {
          text-decoration: none;
        }

        & .panel-title {
          display: block;
          padding:2rem;
          transition:transform 2s ease;
          background-color: rgba(0,0,0,0.5);
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          font-size:2rem;
          color: #fff;
        }
      }
      &:hover {

      }
    }
  }

  .gravatar {
    display:inline-block;
    z-index:0;
  }


}

// #### FOOTER ####
footer {
  overflow:hidden;
}
