/*
Name:   override.scss
Author:   Tristan Marsh
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  Overriding cake css for compatability with bootstrap framework
Since:    25/5/15
*/

.row {
  width:auto;
  max-width:none;
}





