/*
Name:   sidebar.SCSS
Author:   Tristan Marsh
Author URI: http://wiki.tristanmarsh.net/dash/
Since:    3/6/15
*/

// #### NAVIGATION ####

$sidebarwidth:300px;

// override default bootstrap
.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  background:none;
}

.sidebar {
  width:60px;
  position: fixed;
  left:0;
  padding-left:0;
  height:100vh;
  z-index: 1000;
  overflow-x: hidden;
  padding: 0;
  background-color: $sidebarcolour;
  overflow-x:hidden;

  .nav-sidebar {
    margin-left:0;
  }

  ul {
    padding-left:0;
  }
  
  // Default Menu Item
  li {
    display:block;
    position:relative;
    font-size:2rem;
    border-bottom:1px solid $mutedsidebarcolour;
    height:6rem;


    .menu-item-link {
      display:block;
      color:desaturate($mutedlinksidebarcolour,20%);
      transition:color 200ms ease-out, background 200ms ease-out;
      height:100%;
      padding:10px;

      .gravatar {
        opacity:0.8;
        transition:opacity 200ms ease-out;
        background:$mutedsidebarcolour;
      }

      .glyphicon {
        position: static;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
        width:60px;
        margin:0 auto;
        margin-left: -10px;
        text-align: center;

        &:before {
          text-align: center;
        }

      }

      .menu-item-label {
        position: absolute;
        white-space: nowrap;
        left: 6rem;
        margin-left: 10px;
        top: 1.7rem;
        font-size: 2rem;
        color:$white;
      }

    }

    //Home Link
    &[data-original-title="Home"],
    &[title="Home"] {
      
      &>a.menu-item-link {
        background: rgba(0,0,0,0.5);

        // Home Link
        #icon-monish-home {
          font-size:4rem;
        }

        #icon-monish-home.icon-monish:before {
          color:$primarycolour!important;
        }

      }

      &:hover>a.menu-item-link {
        background: rgba(0,0,0,0.4);
      }

    }

    // Current Menu Item
    .menu-item-link.active {
      background:rgba(0,0,0,0.2);

      .glyphicon,
      .menu-item-label {
        color:$white;
      }

    }
    
  }

  // Hover Menu Item
  .menu-item-link:active,
  .menu-item-link:focus,
  .menu-item-link:hover {
    
    color:$mutedlinksidebarcolour;
    background:rgba(255,255,255,0.05);
    color:$white;

    .menu-item-label {

    }

    .gravatar {
      opacity:1;
    }

  }

}


// Classes to animate
.sidebar,
.navbar-fixed-top,
.content {
  transition:all 400ms ease;
}

// Prevent sidebar from having to fill on page resize
.sidebar {
  transition:height 0ms, width 400ms ease;
}

.navigation-active .navbar-fixed-top,
.navigation-active .content {
  margin-left:0px;
}

// hide tooltips by default
.tooltip.right {
  display:none!important;
  font-size:2rem;
  @include fadeInRight($duration:400ms);
  margin-left:30px;
}

.tooltip.right .tooltip-arrow {
  border-right-color: $mutedsidebarcolour;
  border-right-color: $mutedsidebarcolour;
}

.tooltip-inner {
  background: $mutedsidebarcolour;
}

// xs
@media(max-width:480px){

  // Inactive
  .sidebar {
    transform:translate3D(-100%,0,0);
    padding-top:79px;
    width:$sidebarwidth;
    transition:transform 400ms ease;
  }  

  .navigation-active {
    background-color: $mutedsidebarcolour;
  }

  // Active
  .navigation-active .sidebar {
    transform:translate3D(0,0,0);
    width:$sidebarwidth;
    transition:width 0s;
    transition-delay: 400ms;
    transition:transform 400ms ease;  }
  
  .navigation-active .content,
  .navigation-active .footer-container {
    transform:translate3D(20%,0,0);
  }

  .navigation-active .main-content {
    opacity:(0.5);
  }

}

// sm
@media(min-width:481px){
// Inactive

  // Show tooltips
  .tooltip.right {
    display:block!important;
  }

  .sidebar {
    transform:translate3D(0,0,0);
    width:60px;
  }

  .navbar-fixed-top,
  .content,
  .footer-container {
    margin-left:60px;
  }

  // Active
  .navigation-active .sidebar {
    transform:translate3D(0,0,0);
    width:$sidebarwidth;
  }
  .navigation-active .content {
    transform:translate3D(0,0,0);
  }

  .navigation-active .navbar-fixed-top,
  .navigation-active .content,
  .navigation-active .footer-container {
    margin-left:$sidebarwidth;
  }
    // Show tooltips
  .navigation-active .tooltip.right {
    display:none!important;
  }
    

}

// md
@media(min-width:768px){

  // Inactive

  // Show tooltips
  .tooltip.right {
    display:block!important;
  }

  .sidebar {
    transform:translate3D(0,0,0);
    width:60px;
  }

  .navbar-fixed-top,
  .content,
  .footer-container {
    margin-left:60px;
  }

  // Active
  .navigation-active .sidebar {
    transform:translate3D(0,0,0);
    width:$sidebarwidth;
  }
  .navigation-active .content {
    transform:translate3D(0,0,0);
  }

  .navigation-active .navbar-fixed-top,
  .navigation-active .content,
  .navigation-active .footer-container {
    margin-left:$sidebarwidth;
  }
    // Show tooltips
  .navigation-active .tooltip.right {
    display:none!important;
  }
    
 

}

// lg
@media(min-width:992px){


}

// xl
@media(min-width:1200px){

  
}
