/*
Name:   sm.SCSS
Author:   Team Dash
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  Style for small devices
Since:    3/6/15
*/


// sm
@media(max-width:767px){
	.clearing.col-sm-6:nth-of-type(2n+1) {
		clear:none;
	}
}

// md
@media(min-width:768px){
		
	.clearing.col-sm-6:nth-of-type(2n+1) {
		clear:none;
	}

	.clearing.col-md-4:nth-of-type(2n+1) {
		clear:left;
	}

}

// lg
@media(min-width:992px){

	.clearing.col-md-4:nth-of-type(2n+1) {
		clear:none;
	}

	.clearing.col-lg-4:nth-of-type(3n+1) {
		clear:left;
	}

}

// xl
@media(min-width:1200px){

	.clearing.col-lg-4:nth-of-type(4n+1) {
		clear:none;
	}

	.clearing.col-lg-4:nth-of-type(3n+1) {
		clear:left;
	}

}
