/*
Name:   sm.SCSS
Author:   Team Dash
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  Style for small devices
Since:    3/6/15
*/


// sm
@media(max-width:767px){

}
// md
@media(min-width:768px){

}
// lg
@media(min-width:992px){

}
// xl
@media(min-width:1200px){

}
