/*
Name:   tables.SCSS
Author:   Team Dash
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  All custom styling for tables
Since:    30/7/15

*/

// Taken from forked codepen http://codepen.io/tristanmarsh/pen/VLVQqo


// /* Universal Transition */
// * {
//   transition:all 100ms ease;
// }

// html {
//   font-size:1em;
//   font-size:16px;
// }

body {
  // font-family: $open-sans-font-stack;
  // line-height: 20px;
  // font-weight: 400;
  color: #3b3b3b;
}

// .wrapper {
//   margin: 0 auto;
//   padding: 40px;
//   max-width: 800px;
// }


table {
  display: table;
  width: 100%;
  margin: 0 0 40px 0;
  font-family: $open-sans-font-stack;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  background: #f6f6f6;
  background:#fff;


  * {
    transition:all 200ms ease;
  }
  
  @media screen and (max-width: 580px) {
    display: block;
  }
  
  // Link Style
  a {
    color: #3C73C3;
    text-decoration: none;
  }

  // Table Header
  & tr th {
    color: #fff;
    background: #2980b9;
    font-size:1.4rem;
    font-family:$roboto-slab-font-stack;
    position:relative;
    overflow:hidden;
    color:#fff;

    &>a {
      display:block;
      padding: 6px 12px;
      color:#fff;
      text-decoration: none;
    }    

    &>a:hover {
      background: lighten(#2980b9,5%);
      color:#fff;
      text-decoration: none;
    }

    &>a.asc,
    &>a.desc {
      background: darken(#2980b9,10%);
    }

    &>a.asc:after {
      content:'\25B2';
      position:relative;
      right:-0.5em;
      font-size: 0.8em;
    }

    &>a.desc:after {
      content:'\25BC';
      position:relative;
      right:-0.5em;
      font-size: 0.8em;
    }
    

    // &:before {
    //   content:"";
    //   display:block;
    //   position:absolute;
    //   top:0;
    //   left:0;
    //   height:100%;
    //   width:100%;
    //   background:#fff;
    //   opacity:0;
    //   transition:all 200ms ease;
    // }
    
    // &:hover:after {
    //   opacity:0.2;
    //   cursor:pointer;
    // }
    
    // &:after:active {
    //   opacity:0.2;
    //   cursor:pointer;
    // }
    
  }
  
  // Table Row
  & tr:nth-of-type(odd) {
    background: #f9f9f9;
    border-top:1px solid #e7eaec;
    border-bottom:1px solid #e7eaec;
  }
  & tr:hover td {
    color:#222;
    background: lighten(#e9e9e9,10%);
  }

  // Table Action Buttons
  & td.actions a {}

  &.green {
    background: #27ae60;
  }
  &.blue {
    background: #2980b9;
  }
  @media screen and (max-width: 580px) {
    padding: 8px 0;
    // display: block;
  }

  td {
    color:rgb(103, 106, 108);
    padding: 6px 12px;
    @media screen and (max-width: 580px) {
      padding: 2px 12px;
      display: block;
    }
  }

}

