/*
Name:   tables.SCSS
Author:   Tristan Marsh
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  All custom styling for tables
Since:    30/7/15
*/

// Taken from forked codepen http://codepen.io/tristanmarsh/pen/VLVQqo

// Effective Table Footer
.table-responsive {
  border-radius: 0 0 5px 5px;
}

table:not(.ui-datepicker-calendar) {
  display: table;
  width: 100%;
  font-family: $open-sans-font-stack;

  * {
    transition:all 200ms ease-out
  }
  
  // Link Style
  a {
    // color:darken($darkprimarycolour,20%);
    text-decoration: none;
  }
  
  // Table Header
  & thead th {
    background: $primarycolour;
    font-size:1.4rem;
    line-height: 2.4em;
    font-family:$roboto-slab-font-stack;
    position:relative;
    overflow:hidden;
    padding: 6px 12px;
    color:$lightthemetext;
  }

  // Table Row

  & tr {  
    background:mix($white, $primarycolour, 97%);
    border-bottom:1px solid mix($white, $primarycolour, 80%);
  }

  & tr:nth-of-type(odd) {
    background:mix($white, $primarycolour, 92%);
  }

  & tr:last-child {
    border-bottom:0;
  }

  & tr:focus td,
  & tr:hover td, {
    background: $white;
  }

  & tr.unread {

    // outline effect
      // outline: 1px solid rgba(0,255,0, 0.25);
    
    &>td {
      font-weight:bold;
    }
    
    //background highlight effect
    // &>td:not(.action):after {
    //   position:absolute;
    //   display:block;
    //   content:"";
    //   height:100%;
    //   width:100%;
    //   background:rgba($green,0.1);
    //   left:0;
    //   top:0;
    // }

  }

  // Table Action Buttons
  & td a {
    display:block;
    text-align: center;
  }

  @media screen and (max-width: 580px) {
    padding: 8px 0;
    // display: block;
  }

  td {
    padding:0 10px 0 10px;
    position: relative;
    overflow: hidden;
    height:60px;
  }

  // td>span:not([class="glyphicon"]) {
  td>* {
    // display: block;
    color:$darkthemetext

  }

  td>span,
  td>img {
    // display: block;
    padding: 0;
  }
  
  // Gravatar flush
  td:first-child>img.gravatar {
    margin-left:-10px;
    background:$white;
  }
  
  // Profile Name after gravatar offset
  td:first-child>img.gravatar + span {
    margin-left:10px;
  }

  td.action>a {
    display: block;
    margin: -10em;
    padding: 10em;
  }
  
  // General Icon Color
  td.action>a span:before,
  td.action>a span:before{
    color: lighten($primarycolour,10%);
  }  

  // General Action hover background
  td.action>a:focus,
  td.action>a:hover {
    background: lighten($primarycolour,10%);
  }

  // Close Icon Color
  td.action-close>a span:before,
  td.action-close>a span:before{
    color: $green;
  }  

  // Close hover background
  td.action-close>a:focus,
  td.action-close>a:hover {
    background: $green;
  }

  // Remove Icon Color
  td.action-remove>a span:before,
  td.action-remove>a span:before{
    color:$red;
  }  

  // Remove hover background
  td.action-remove>a:focus,
  td.action-remove>a:hover {
    background:$red;
  }

  // Action hover icon color
  td>a:focus>span.glyphicon:before,
  td>a:hover>span.glyphicon:before {
    color:$white;
  }

  // Used for hiding the 1px * 0px view links
  td>[href*="view"] {
    padding: 0;
    @media screen and (max-width: 580px) {
      padding: 0;
    }
  }

  & .checkbox {
    margin:0;
  }

  // highlighting leases expiring
  tr.expiring-30-days {
    position: relative;
  }

  tr.expiring-30-days>:after {
    display:block;
    content:"";
    background:rgba($red,0.1);
    z-index:10;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
  }

  tr.expiring-90-days {
    position: relative;
  }

  tr.expiring-90-days>:after {
    display:block;
    content:"";
    background:rgba($orange,0.1);
    z-index:10;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
  }

  tr.expiring-180-days {
    position: relative;
  }

  tr.expiring-180-days>:after {
    display:block;
    content:"";
    background:rgba($green,0.1);
    z-index:10;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
  }


}