/*
Name:   Variables.SCSS
Author:   Tristan Marsh
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  All custom styling for the Monish Dashboard
Note:     Remeber mobile first methodology when styling
Since:    29/4/15

*/

/* #### Font Varaiables #### */

/* Headings */
$roboto-slab-font-stack: 'Raleway', serif;

/* Content */
$open-sans-font-stack: 'Open Sans', sans-serif;

/* Transition */
$standard-transition: all 400ms ease;

/* Colours */
$white:#fff;
$green:rgb(119,221,119);
$orange:rgb(255,179,71);
$red:rgb(255,105,97);
$blue: rgb(119,158,203);

// Theme
$primarycolour: $blue;
$primarycolour: $orange;

// Theme Colour Variations
$darkprimarycolour: darken($primarycolour,10%);
$lightprimarycolour: lighten($primarycolour,27%);
$whiteprimarycolour: lighten($primarycolour,32%);

// Theme Text Colours
$darkthemetext:darken(desaturate($darkprimarycolour,30%),20%);
$lightthemetext:lighten(desaturate($darkprimarycolour,0%),50%);