/*
Name:   Variables.SCSS
Author:   Team Dash
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  All custom styling for the Monish Dashboard
Note:     Remeber mobile first methodology when styling
Since:    29/4/15

*/

/* #### Font Varaiables #### */

/* Headings */
$roboto-slab-font-stack: 'Raleway', serif;

/* Content */
$open-sans-font-stack: 'Open Sans', sans-serif;

/* Transition */
$standard-transition: all 400ms ease;


/* Colours */
$green:rgb(119,221,119);
$orange:rgb(255,179,71);
$red:rgb(255,105,97);