// =============================================================================
// SCSS/SITE/STACKS/ICON/_GRID.SCSS
// -----------------------------------------------------------------------------
// Includes the grid layout.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Grid Container
// =============================================================================

// Grid Container
// =============================================================================

.x-container {
  &.offset-top {
    margin-top: 50px;
    @include break(cubs) {
      margin-top: 32px;
    }
    @include break(baby-bear) {
      margin-top: 24px;
    }
  }

  &.offset-bottom {
  	margin-bottom: 50px;
  }
}