/*
Name:   Custom.SCSS
Author:   Team Dash
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  All custom styling for the Monish Dashboard
Note:     Remeber mobile first methodology when styling
Since:    29/4/15

*/
/*
Name:   override.scss
Author:   Tristan Marsh
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  Overriding cake css for compatability with bootstrap framework
Since:    25/5/15
*/
.row {
  width: auto;
  max-width: none; }

/*
Name:   footer.scss
Author:   Team Dash
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  All custom styling for the Monish Dashboard Footer
Since:    28/5/15

*/
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

.footer {
  width: 100%;
  background: #76AADB; }
  .footer .col-md-3 {
    padding: 40px; }
  .footer .col-md-3:nth-child(1) {
    border: 1px solid red;
    text-align: left; }
  .footer .col-md-3:nth-child(2) {
    border: 1px solid green;
    text-align: center; }
  .footer .col-md-3:nth-child(3) {
    border: 1px solid blue;
    text-align: right; }

body {
  background: #C4E7EC; }

a {
  color: #76AADB; }

header {
  height: auto;
  padding-top: 0;
  background-color: #76AADB; }
  header .page-header {
    margin-top: 0; }

.navbar-image img {
  max-width: 100%;
  height: 40px !important; }

.breadcrumb {
  display: none;
  margin-left: 0; }

.navbar {
  position: static;
  margin-bottom: 0; }
  .navbar .navbar-brand {
    padding: 5px; }

.main-content {
  min-height: 100vh;
  padding-bottom: 50px; }

.sidebar {
  position: fixed;
  left: 0;
  padding-left: 0;
  height: 100vh;
  z-index: 1000;
  overflow-x: hidden;
  padding: 0;
  background-color: #39536D;
  box-shadow: inset -10px 0 10px rgba(38, 56, 73, 0.5); }
  .sidebar .nav-sidebar {
    margin-left: 0; }
  .sidebar li > a {
    padding: 15px;
    color: #fff;
    padding-left: 50px; }
  .sidebar .nav > li:hover > a,
  .sidebar .nav > li:focus > a {
    text-decoration: none;
    background-color: #111920;
    color: #3FBAE4; }
  .sidebar .glyphicon {
    display: block;
    position: absolute;
    padding: 5px;
    font-size: 40px; }
  .sidebar .nav > li:hover > .glyphicon,
  .sidebar .nav > li:focus > .glyphicon {
    color: #76AADB;
    display: none; }
