/*
Name:   Variables.SCSS
Author:   Team Dash
Author URI: http://wiki.tristanmarsh.net/dash/
Purpose:  All custom styling for the Monish Dashboard
Note:     Remeber mobile first methodology when styling
Since:    29/4/15

*/
/* #### Font Varaiables #### */
/* Headings */
/* Content */
